* {
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
nav {
    background-color: #333333;
     margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    list-style-type: none;
}

nav ul li a {
    color: cornsilk;
    background-color: dimgrey;
    display: block;
    /* line-height: 2em; */
    padding: 0.5em 0.5em;
    text-decoration: none;
}

.header {
    text-align: center;
    padding: 32px;
}

.btn {
    border: 0;
    outline: 0;
    padding: 10px 16px;
    background-color: burlywood;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: indigo;
    color: azure;
}

.btn.active {
    background-color: green;
    color: white;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 50%; 
    flex: 50%;
    padding: 0 4px; 
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}
